body {
  background-color: rgb(215, 244, 248);
}

hr {
  border-style: none;
  border-bottom-style: dotted;
  border-color: rgb(199, 184, 218);
  border-width: 10px;
  width: 10%;
}

img{
  border-radius: 100%;
}

.Name{
  color: lightsteelblue;
}

h1 {
  color: rgb(133, 206, 240);
  
}

h3{
  color: rgb(133, 206, 240);
}

a{
  color: rgb(133, 206, 240);
}

a:visited{
  color: blueviolet;
}